/* HEADER STYLES */
html,
body {
    height: 100%;
    margin: 0;
}

.header__navbar {
    background-color: rgba(19, 22, 62, 0.8);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    width: 100%;
    height: 8rem;
    color: #fff;
    top: 0;
    position: fixed;
    z-index: 2;
}

.header__navbar-logo-image {
    width: 200px;
    height: 60px;
    margin-left: 2.5rem;
}

.header__navbar-icon {
    font-size: 2rem;
    font-weight: 700;
}

.header__navbar-navigate {
    margin-left: auto;
    margin-top: -0.5rem;
}

.header__navbar-navigate--page {
    text-decoration: none;
    color: #fff;
    margin: 0 1.5rem;
    position: relative;
    padding-bottom: 8px;
}

.header__navbar-navigate--page::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 3;
    left: 0;
    width: 0;
    height: 2px;
    background: #ffffff;
    transition: width 0.3s ease;
}

.header__navbar-login--register {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-right: 5rem;
}

.login__button {
    display: inline-block;
    color: #000;
    text-decoration: none;
    background-color: #1696FF;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

button:hover .login__button {
    background-color: #0f80e0;
    box-shadow: 0 0 15px rgba(22, 150, 255, 0.6);
    color: #c6c6c6;
}

.header__navbar-navigate--page.active::after {
    width: 100%;
}

.header__navbar-login,
.header__navbar-icon {
    margin: 1.2rem 6rem;
}

.header__navbar-login {
    font-size: 1.6rem;
    cursor: pointer;
    border-radius: 5rem;
    padding: 1rem 4rem;
    display: inline-block;
    font-weight: bold;
    color: #000;
    text-align: center;
    border: 0.2rem solid #1981ff;
    transition: background 0.3s ease;
    margin-left: auto;
}

.header__navbar-login:hover {
    background: #e8e4e4;
    color: #1981ff;
}

@media(max-width: 600px) {

    .header__navbar,
    .header__navbar-icon {
        font-size: 1.2rem;
    }

    .header__navbar-navigate--page::after {
        bottom: 2;
        height: 1.2px;
    }

    .header__navbar-login {
        font-size: 1.5rem;
        padding: 1rem 2.5rem;
    }
}

/* HEADER TEXT AND IMAGE */
.header__textAndImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16rem;
    z-index: 2;
}

.header__textAndImage-text {
    margin: 1.2rem 5.8rem 0;
}

.header__textAndImage-text,
.header__textAndImage-image {
    margin: 1.2rem 5.8rem 0;
}

.header__textAndImage-image {
    width: 1000px;
    height: 500px;
}

.header__textAndImage-text--one {
    color: transparent;
    font-size: 6rem;
    margin-top: -1rem;
    position: absolute;
    max-width: 50%;
    background: linear-gradient(-45deg, #fff, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    background-clip: text;
    animation: gradient 7s ease infinite;
    height: auto;
    white-space: normal;
}

/* Gradient Animation for Text */
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 30%;
    }
}

.header__textAndImage-text-two {
    font-size: 2rem;
    color: #333333;
    margin-top: 25rem;
}

.header__textAndImage-text-two {
    animation: slideFromRight 1.3s ease-out;
}

@media (max-width: 900px) {
    .header__textAndImage {
        margin-top: 5rem;
        flex-direction: column;
        text-align: center;
    }

    .header__textAndImage-image {
        height: 10px;
        z-index: 4;
    }

    .header__textAndImage-text--one {
        font-size: 4rem;
    }

    .header__textAndImage-text-two {
        font-size: 1.4rem;
    }
}

/* Paragraph and Headings Styles */
h2 {
    font-size: 4rem;
    margin-bottom: 50px;
}

p {
    font-size: 2rem;
    line-height: 1.5;
    margin-bottom: 7rem;
}

/* Fade-In Effect */
.fade-in {
    opacity: 0;
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* PROPERTY TRANSACTION STYLES */
.between {
    background-color: #fff;
    width: 100%;
    height: 50rem;
    margin-top: 100px;
}

.transaction-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 8rem;
    font-size: 5rem;
}

.transaction-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.transaction-item__label {
    font-weight: bold;
}

.transaction-item__size {
    font-size: 18px;
}

.transaction--online {
    margin-left: 4rem;
}

.transaction-item__check {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    background-color: #4CAF50;
    border: 2px solid #fff;
    right: 13.5%;
    transform: translate(-0.2vw, 300%);
}

.transaction-item__check {
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #000;
    box-shadow: 0 0 0 0 #0004;
    animation: l1 1s infinite;
}

/* Animation for Transaction Item Check */
@keyframes l1 {
    100% {
        box-shadow: 0 0 0 30px #0000
    }
}

.transaction-item--left {
    margin-right: 50px;
}

.transaction-item--right {
    margin-left: 50px;
}

/* AUTOMATION LOGO CARDANO STYLES */
.logo-animation-container {
    width: 100%;
    height: 100px;
    position: relative;
    overflow: hidden;
    background-color: rgb(58, 58, 58);
    margin-top: 9rem;
}

.logo {
    position: absolute;
    margin-top: 3.5rem;
    width: 150px;
    animation: slide-logos 8s linear infinite;
}

.logo1 {
    left: -100px;
}

.logo2 {
    left: -150px;
    animation-delay: 2s;
}

.logo3 {
    left: -150px;
    animation-delay: 4s;
}

.logo4 {
    left: -150px;
    animation-delay: 6s;
}

/* Logo Slide Animation */
@keyframes slide-logos {
    0% {
        left: -200px;
    }

    100% {
        left: 120%;
    }
}

@media(min-width: 900px) {

    .header__textAndImage,
    .footer__navbar-info {
        flex-direction: row;
    }
}